/* Feuille de styles CSS */

body
{
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

header
{
    display: flex;
    justify-content: flex-start;
    background-image: url("../static/images/room_old.jpg");
    background-position: cover;
    height: 200px;
    flex-shrink: 0;
}

.titre
{
    width: 100%;
    text-align: center;
    margin-left: -66px;
    align-self: center;
    font-size: 4rem;
    text-shadow: 0 0 0.5em black;
}

footer
{
    display: flex;
    justify-content: flex-end;

}

img
{
    margin: 10px;
    border-radius: 10px;

}

/* section
{
    background-color: rgb(166, 176, 218);
    padding: 10px;
    margin: 0px 5px 0px 5px;
    border: 5px solid #888;
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: calc(100vh-2*90px);
} */

#chat_window
{
    width: 80%;
    margin: 1rem auto;
    border: 5px solid #888;
    border-radius: 1.5rem;
    min-width: 300px;
    flex-grow: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: black;
}

#questions
{
    padding: 1rem;
    background-color: #aaa;
    display: flex;
    justify-content: center;
}

#responses
{
    padding: 1rem;
    overflow-y : auto;
    /* border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(115, 195, 241);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 500px; */
}

.map
{
    height: 300px;    
}

/* #overlay {
    display : none;
    position: absolute;
    width: 100%; height: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50vh;
    transform: translateY(-50%);
} */

/* #overlay img {
    margin-top: 100px;
} */
