/* Feuille de styles CSS */

body
{
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

header
{
    display: flex;
    justify-content: flex-start;
    background-image: url("../../static/images/room_old.jpg");
    background-position: cover;
    height: 200px;
    flex-shrink: 0;
}

.titre
{
    width: 100%;
    text-align: center;
    margin-left: -66px;
    align-self: center;
    font-size: 3rem;
}

footer
{
    display: flex;
    justify-content: space-between;
}

#copyright
{
color: black;
}

img
{
    margin: 10px;
    border-radius: 10px;
}

#chat_window
{
    width: 80%;
    margin: 1rem auto;
    border: 5px solid #888;
    border-radius: 1.5rem;
    color: black;
    flex-grow: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

#questions
{
    padding: 1rem;
    background-color: #aaa;
    display: flex;
    justify-content: center;
}

#responses
{
    padding: 1rem;
    overflow-y : auto;
}

.map
{
    height: 300px;    
}

@media screen and (max-width: 580px)
{

    body
    {
        height: auto;
    }
    
    #chat_window
    {
        width: 100%;
        border: none;
    }

    header
    {
        height: 150px;
    }

    #questions
    {
        display: flex;
        flex-direction: column;
    }
    
    #responses
    {
        overflow-y : hidden;
    }

}