<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <title>{{title}}    </title>
</head>
<body>
    <header>
        <div class="image">
            <img src="{{ url_for('static', filename='images/gpy_simpsonp.jpg') }}"
            alt="Grand père Simpson"/>
        </div>
        <p class="titre">La minute de papy</p>
    </header>

    <section>
        <div id="chat_window">
            <div id="questions">
                {% block question %}{% endblock %}
                <!-- <form id="form" method="post">
                    <p>
                        <label for="question"></label>
                        <input type="text" name="question" id="question"
                        placeholder="Bonjour, mon poussin. Tu voulais me demander quelque chose ?"
                        minlength="60" required>
                        <input type="submit" value="Envoyer">
                    </p>    
                </form> -->
            </div>
            <div id="responses">
                <!-- <div class="response">
                    <p class="grandpy-answer"></p>
                    <div class="map"></div>
                    <article class="wikipedia_article">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        <a href="https://openclassrooms.com"En savoir plus></a>
                    </article>
                </div> -->
            </div>
        </div>
    </section>

    <footer>
        <div class="image">
            <img src="{{ url_for('static', filename='images/gpy_simpson2p.jpg') }}" alt="Grand père Simpson au revoir"/>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ SECRET_KEY }}"></script>

</body>
</html>